.ecommerce{
    /* display: flex;
    gap: 1em;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center; */
    padding: 5em 1em;
    background: rgb(0, 0, 0);
}

@media screen and (max-width:768px) {
    .ecommerce{
        padding: 16em 1em;
    }

    .navEcommerce{
        position: fixed;
        top: 0;
        padding: 4em 1em 1em 0;
    }
}