.card{
    width: 20rem;
    min-height: 35rem;
    max-height: 35rem;

}

.card-img-top{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

.card-body h5{
    text-align: center;
}

.price{
    font-size: 1.8em;
    font-family: var(--fontFamily);
}

.botones{
    display: flex;
    gap: 1em;
}