.card{
    height: 100%;
    box-shadow: 0 2px 5px white;
    display: flex;
}

.card-img-top{
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    
    
}

.card-body h5{
    text-align: center;
}

.price{
    font-size: 1.8em;
    font-family: var(--fontFamily);
}

.botones{
    display: flex;
    gap: 1em;
    
}

.btn{
    font-family: var(--fontFamily);
    background: none;
    color: rgb(96,0,0);
    border: none;
   font-size: 1.5em;
}

.btn:hover{
    background-color: rgb(96,0,0);
}
